alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias cdp="cd ~/Projects"
alias cdt="cd ~/Temp"

alias mv="mv -v"
alias rm="rm -i -v"
alias cp="cp -v"

alias where=which

alias la="ls -al"
alias sl=ls

alias mkdir="mkdir -p"

alias vi=nvim
alias vim=nvim

alias gs="git status"
alias st=gs
alias status=gs

alias gf="git diff --color --color-words --abbrev"
alias df=gf
alias diff=gf

alias gl="git log"
alias lg=gl
alias log=gl
